@mixin input-styles {
  width: 43%;
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.container {
  .filter-commits {
    @include input-styles();
    margin: 20px 0 10px;
    text-align: center;
  }

  .form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;

    form {
      display: flex;
      justify-content: space-evenly;

      .owner-input {
        @include input-styles();
      }

      .repo-input {
        @include input-styles();
      }
    }
  }

  .commits-container {
    width: 50%;
    margin: 30px auto;

    .commit {
      width: 100%;
      margin: 10px 0 20px 0;
      padding: 10px;
      border: 1px white solid;
      border-radius: 10px;

      .commit-message {
        text-align: left;
      }

      .author-and-time {
        display: flex;
        margin-top: 10px;

        .author-avatar {
          width: 25px;
          margin-right: 10px;
          border-radius: 50%;
        }

        .commit-time {
          margin: auto 0;
        }
      }
    }
  }
}
